h1,
h2,
h3,
h4,
h5,
h6 {}
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a,
a:active,
a:focus {
    color: #6f6f6f;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
max-width: 100%;
height: auto;
}
.section-sa {
    padding: 60px 0;
   /* min-height: 100vh;*/
}

.sec-title{
position:relative;
z-index: 1;
margin-bottom:5px;
}

.sec-title .title{
position: relative;
display: block;
font-size: 18px;
line-height: 24px;
color: #ff2222;
font-weight: 500;
margin-bottom: 15px;
}

.sec-title h2{
position: relative;
display: block;
font-size:32px;
line-height: 1.28em;
color: #222222;
font-weight: 600;
padding-bottom:8px;
}

.sec-title h2:before{
position:absolute;
content:'';
left:0px;
bottom:0px;
width:50px;
height:3px;
background-color:var(--flame);
}

.sec-title .text{
position: relative;
font-size: 16px;
line-height: 26px;
color: #848484;
font-weight: 400;
margin-top: 35px;
}

.sec-title.light h2{
color: #ffffff;
}

.sec-title.text-center h2:before{
left:50%;
margin-left: -25px;
}

.list-style-one{
position:relative;
}

.list-style-one li{
position:relative;
font-size:16px;
line-height:26px;
color: #222222;
font-weight:400;
padding-left:35px;
margin-bottom: 12px;
}

.list-style-one li:before {
content: "\f058";
position: absolute;
left: 0;
top: 8px;
display: block;
font-size: 18px;
padding: 0px;
color: #ff2222;
font-weight: 600;
-moz-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
font-style: normal;
font-variant: normal;
text-rendering: auto;
line-height: 1.6;
font-family: "Font Awesome 5 Free";
}

.list-style-one li a:hover{
color: #44bce2;
}

.btn-style-one{
position: relative;
display: inline-block;
font-size: 17px;
line-height: 30px;
color: #ffffff;
padding: 10px 30px;
font-weight: 600;
overflow: hidden;
letter-spacing: 0.02em;
background-color: #ff2222;
}

.btn-style-one:hover{
background-color: #001e57;
color: #ffffff;
}
.about-section{
position: relative;
padding: 60px 0 70px;
}

.about-section .sec-title{
margin-bottom: 5px;
}

.about-section .content-column{
position: relative;
margin-bottom: 50px;
}

.about-section .content-column .inner-column{
position: relative;
padding-left: 30px;
}

.about-section .text{
margin-bottom: 5px;
font-size: 16px;
line-height: 26px;
color: var(--dark-blue);
font-weight: 400;
}

.about-section .list-style-one{
margin-bottom: 45px;
}

.about-section .btn-box{
position: relative;
}

.about-section .btn-box a{
padding: 15px 50px;
}

.about-section .image-column{
position: relative;
}

.about-section .image-column .text-layer{
position: absolute;
right: -110px;
top: 50%;
font-size: 325px;
line-height: 1em;
color: #ffffff;
margin-top: -175px;
font-weight: 500;
}

.about-section .image-column .inner-column{
position: relative;
padding-left: 120px;
padding-bottom: 125px;
}

.about-section .image-column .inner-column:before{
position: absolute;
left: -75px;
top: 65px;
height: 520px;
width: 520px;
background-image:url(https://i.ibb.co/fxJ1jtC/about-circle-1.png);
content: "";
}

.about-section .image-column .image-1{
position: relative;
}

.about-section .image-column .image-2{
position: absolute;
left: 0;
bottom: 0;
}

.about-section .image-column .image-2 img,
.about-section .image-column .image-1 img{
box-shadow: 0 30px 50px rgba(8,13,62,.15);
}

.about-section .image-column .video-link{
position: absolute;
left: 70px;
top: 170px;
}

.about-section .image-column .video-link .link{
position: relative;
display: block;
font-size: 22px;
color: #191e34;
font-weight: 400;
text-align: center;
height: 100px;
width: 100px;
line-height: 100px;
background-color: #ffffff;
border-radius: 50%;
box-shadow: 0 30px 50px rgba(8,13,62,.15);
-webkit-transition: all 300ms ease;
-moz-transition: all 300ms ease;
-ms-transition: all 300ms ease;
-o-transition: all 300ms ease;
transition: all 300ms ease;
}

.about-section .image-column .video-link .link:hover{
background-color: #191e34;
color: #fff; }
*, *:before, *:after {
    box-sizing: border-box;
  }
  
  html {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 300;
    color: #333;
    font-family: 'Noto Sans', sans-serif;  }
  
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #ecf0f9;
    background-attachment: fixed;
  }
  
  .content {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
  }
  
  .heading {
    width: 100%;
    margin-left: 1rem;
    font-weight: 900;
    font-size: 1.618rem;
    text-transform: uppercase;
    letter-spacing: 0.1ch;
    line-height: 1;
    padding-bottom: 0.5em;
    margin-bottom: 1rem;
    position: relative;
  }
  .heading:after {
    display: block;
    content: "";
    position: absolute;
    width: 60px;
    height: 4px;
    background: linear-gradient(135deg, #1a9be6, #1a57e6);
    bottom: 0;
  }
  
  .description {
    width: 100%;
    margin-top: 0;
    margin-left: 1rem;
    margin-bottom: 3rem;
  }

  .card {
   
    background-color: #f7f9fa;
    background-clip: border-box;
    border: none;

}
  
  .card {
    color: inherit;
    cursor: pointer;
    width: calc(33% - 2rem);
    min-width: calc(33% - 2rem);
    height: 400px;
    min-height: 400px;
    perspective: 1000px;
    margin: 1rem;
    position: relative;
  }
  @media screen and (max-width: 800px) {
    .card {
      width: calc(50% - 2rem);
    }
  }
  @media screen and (max-width: 500px) {
    .card {
      width: 100%;
    }
  }
  
  .front,
  .back {
    display: flex;
    border-radius: 6px;
    background-position: center;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: ease-in-out 600ms;
  }
  
  .front {
    background-size: cover;
    padding: 2rem;
    font-size: 1.618rem;
    font-weight: 600;
    color: #fff;
    overflow: hidden;
    font-family: 'Noto Sans', sans-serif;  }
  .front:before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, #000000, #000000);
    opacity: 0.5;
    z-index: -1;
  }
  .card:hover .front {
    transform: rotateY(180deg);
  }
  .card:nth-child(even):hover .front {
    transform: rotateY(-180deg);
  }

  
  .back {
    background: var(--dark-blue);
    transform: rotateY(-180deg);
    padding: 0 2em;
    color: white;
  }
  .back .button {
    background: linear-gradient(135deg, #ec4e20 ,#c13105 );
  }
  .back .button:before {
    box-shadow: 0 0 10px 10px rgba(26, 87, 230, 0.25);
    background-color: rgba(26, 87, 230, 0.25);
  }
  .card:hover .back {
    transform: rotateY(0deg);
  }
  .card:nth-child(even) .back {
    transform: rotateY(180deg);
  }
  .card:nth-child(even) .back .button {
    background: linear-gradient(135deg, #e61a80, #e61a3c);
  }
  .card:nth-child(even) .back .button:before {
    box-shadow: 0 0 10px 10px rgba(230, 26, 60, 0.25);
    background-color: rgba(230, 26, 60, 0.25);
  }
  .card:nth-child(even):hover .back {
    transform: rotateY(0deg);
  }
  
  .button {
    transform: translateZ(40px);
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-weight: bold;
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 100px;
    font: inherit;
    border: none;
    position: relative;
    transform-style: preserve-3d;
    transition: 300ms ease;
  }
  .button:before {
    transition: 300ms ease;
    position: absolute;
    display: block;
    content: "";
    transform: translateZ(-40px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    border-radius: 100px;
    left: 10px;
    top: 16px;
  }
  .button:hover {
    transform: translateZ(55px);
  }
  .button:hover:before {
    transform: translateZ(-55px);
  }
  .button:active {
    transform: translateZ(20px);
  }
  .button:active:before {
    transform: translateZ(-20px);
    top: 12px;
  }



  /* ceo */
  .hero .quote {
    padding: 0px;
    background: var(--dark-blue);
    color: white;
    width: 100%;
    bottom: -20px;
    left: -50px;
    position: absolute;
}

.hero .bg:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 70%;
  right: -100%;
  bottom: -70px;
  z-index: -1;
  background: #dae1e7;
}

/* foort */


footer{
  color: #fff!important;
  
  
    width: 100%;
    background-color: var(--dark-blue);
}

footer .container{
    display: flex;
    padding: 3rem;
}

footer .container .section{
    flex-basis: 50%;
    padding: 0 20px;
}

footer .section h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

footer .section .content{
    margin:20px 0 0 0;
    position: relative;
}

footer .section .content::before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
}

footer .section .content::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background-color: var(--flame);
    top: -10px;
}

.left .content .social{
    margin: 20px 0 0 0;
}

.left .content .social a{
    padding: 0 2px;
}

.left .content .social a span{
    height: 40px;
    width: 40px;
    background: transparent;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 50px;
    transition: 0.4s;
    border:1px solid #656565;
}


.left .content .social a span:hover{
    background: #dd5f24;
}

.center .content .fas{
    font-size: 1.1rem;
    background: transparent;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50px;
    transition: 0.3s;
    cursor: pointer;
    border:1px solid #656565;
}

.center .content .fas:hover{
    background: #dd5f24;
    border:1px solid #dd5f24;
}

.center .content .text{
    font-size: 1.0.6rem;
    font-weight: 500;
    padding-left: 10px;
}

.center .content .phone{
    margin: 15px 0;
}

.right form .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #fff;
}

.right form input{
    width: 100%;
    font-size: 1.0625rem;
    background: transparent;
    border: 1px solid #656565;
}

.right form input{
    height: 35px;
}

.right form .btn{
    margin-top: 10px;
}

.right form .btn button{
    height: 40px;
    width: 100%;
    border:none;
    outline: none;
    background: #dd5f24;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}


.right form .btn button:hover{
    background: #000;
}

.footer-bottom center{
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
}

.footer-bottom center span{
    color: #fff;
}

.footer-bottom center a{
    text-decoration: none;
}

.footer-bottom center a:hover{
    text-decoration: underline;
}

@media screen and (max-width:700px){
    footer{
        position: relative;
        bottom: 0px;
    }

    .left .content{
        padding-right:0px;
        padding-bottom: 30px;
    }

    footer .container{
        flex-wrap: wrap;
        flex-direction: column;
        padding:0.5rem;
    }

    footer .container .section{
        margin:5px 0;
    }
}


/* gallery */

body {
  font-family: 'Noto Sans', sans-serif;  color: #444444;
  font-size: 16px;
  line-height: 1.42857143;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F7F9FA;
}

p {
  margin: 0 0 10px;
}

.demo {
  max-width: 80em;
  margin: 0 auto;
}

.wrapper {
  max-width: 80em;
  margin: 0 auto;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
  color: #28465a;
}

h2, .h2 {
  font-size: 30px;
}

h3, .h3 {
  font-size: 24px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

a {
  text-decoration: none;
  color: #f36b21;
  outline: none;
  transition: color 0.2s ease-in-out;
}

img {
  vertical-align: middle;
}

/*-------------------------------------------------------*/
/* Portfolio
/*-------------------------------------------------------*/
.project-grid.grid-5-col .project {
  width: 20%;
}

.project-grid.grid-4-col .project {
  width: 25%;
}

.project-grid.grid-3-col .project {
  width: 33.33333333%;
}

.project-grid.grid-2-col .project {
  width: 50%;
}

.project-grid.small-gutter {
  margin-left: -4px;
  margin-right: -4px;
}

.project-grid.small-gutter .project {
  padding: 0 4px;
  margin-bottom: 8px;
}

.project-grid.gutter {
  margin-left: -15px;
  margin-right: -15px;
}

.project-grid.gutter .project {
  padding: 0 15px;
  margin-bottom: 30px;
}



/*-------------------------------------------------------*/
/* Portfolio
/*-------------------------------------------------------*/
/* Filter
-------------------------------------------------------*/
.project-filter {
  list-style: none;
  margin-bottom: 40px;
  cursor: default;
  font-size: 13px;
}
.project-filter a {
  display: inline-block;
  margin-right: 5px;
  color: #7a7a7a;
  text-decoration: none;
  padding: 7px 15px;
  border-radius: 3px;
  background-color: #fff;
}
.project-filter a.active,
.project-filter a:focus,
.project-filter a:hover {
  color: #f36b21;
}

/* Hover 2
-------------------------------------------------------*/
.project--hover-2 .project__description {
  padding: 13px 20px;
  background-color: #fff;
  display: block;
  left: 0;
  bottom: auto;
  top: auto;
  text-align: left;
  transform: translateY(100%);
  z-index: 2;
}
.project--hover-2 .project__title {
  font-size: 14px;
  margin-bottom: 0;
  line-height: 1.3;
}
.project--hover-2:hover .project__description {
  transform: translateY(-100%);
  bottom: auto;
}
.project--hover-2:hover .project__img {
  transform: translateY(-30px);
}
.project--hover-2:hover .project__icons {
  top: 42%;
}

/* Hover 3
-------------------------------------------------------*/
.project--hover-3 .project__description {
  top: 50%;
  bottom: auto;
  transform: translateY(20px);
}
.project--hover-3:hover .project__description {
  transform: translateY(-50%);
}

/*-------------------------------------------------------*/
/* Portfolio Responsive Styles
/*-------------------------------------------------------*/
@media screen and (max-width: 35.5em) {
  .project-grid .project {
    width: 100% !important;
  }

  .project-filter a {
    display: block;
    margin-top: 8px;
    margin-right: 0;
  }
}



/* === HEADING STYLE #1 === */
.one h1 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 5px;
  position: relative;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
  font-size: 40px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}



.one h1:before {
  width: 28px;
  height: 5px;
  display: block;
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  margin-left: -14px;
  background-color: var(--flame);
}
.one h1:after {
  width: 100px;
  height: 1px;
  display: block;
  content: "";
  position: relative;
  margin-top: 15px;
  left: 50%;
  margin-left: -50px;
  background-color: var(--flame);
}
/* footer */

.footer-img{
  height: 63px;

}
.m-70{
  margin-top: 63px;
}

ul {
    margin: 0;
  
    list-style: none;
}
img {
max-width: 100%;
height: auto;
}
section {
   
   /* min-height: 100vh;*/
}
.footer {
background: linear-gradient(105deg, var(--dark-blue) , #091E3E);
padding-top: 5px;
padding-bottom: 30px;
}
/*END FOOTER SOCIAL DESIGN*/
.single_footer{}
@media only screen and (max-width:768px) { 
.single_footer{margin-bottom:30px;}
}
.single_footer h4 {
color: #fff;
margin-top: 0;
margin-bottom: 25px;
font-weight: 700;
text-transform: uppercase;
font-size: 20px;
}

.single_footer p{color:#fff;}
.single_footer ul {
margin: 0;
padding: 0;
list-style: none;
}
.single_footer ul li{}
.single_footer ul li a {
color: #fff;
-webkit-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
line-height: 30px;

text-transform: capitalize;
}
.single_footer ul li a:hover { color: var(--light); }

.single_footer_address{}
.single_footer_address ul{}
.single_footer_address ul li{color:#fff;}
.single_footer_address ul li span {
font-weight: 400;
color: #fff;
line-height: 28px;
}
.contact_social ul {
list-style: outside none none;
margin: 0;
padding: 0;
}
.img-center{
display: block;
margin: auto;
}

/*START SOCIAL PROFILE CSS*/
.social_profile {margin-top:40px;}
.social_profile ul{
list-style: outside none none;
margin: 0;
padding: 0;
}
.social_profile ul li{
display: inline-block;
}

.social_profile ul li a {
text-align: center;
border: 0px;
text-transform: uppercase;
transition: all 0.3s ease 0s;
margin: 0px 5px;
font-size: 18px;
color: #fff;
/* border-radius: 30px; */
width: 50px;
height: 50px;
/* line-height: 50px; */
display: block;
/* border: 1px solid rgba(255,255,255,0.2); */
}
@media only screen and (max-width:768px) { 
.social_profile ul li a{margin-right:10px;margin-bottom:10px;}
}
@media only screen and (max-width:480px) { 
.social_profile ul li a{
width:40px;
height:40px;
line-height:40px;
}
}

@media (min-width: 768px)  and (max-width:1200px) { 
.responsive-card{
flex: 0 0 auto;
width: 60%;
margin: auto;
}
}
@media (max-width: 576px) {
.footer {
text-align: center;

} }

/*END SOCIAL PROFILE CSS*/
.copyright {
margin-top: 30px;
padding-top: 40px;
color:#fff;
font-size: 15px;
border-top: 1px solid rgba(255,255,255,0.4);
text-align: center;
}
.copyright a{color:#01c7e9;transition: all 0.2s ease 0s;}
.copyright a:hover{color:#091E3E;}


